:root {
    --accent: #f00;
}

@font-face {
    font-family: "Kode Mono";
    src: url("static/fonts/KodeMono.ttf") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Syne Mono";
    src: url("static/fonts/SyneMono-Regular.ttf") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "AlphabetoftheMagi";
    src: url("static/fonts/AlphabetoftheMagi.ttf") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rosarivo";
    src: url("static/fonts/Rosarivo-Regular.ttf") format("woff2");
    font-display: swap;
}

.abandon {
    font-family: "Rosarivo";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

textarea {
    resize: none;
}

@keyframes scrollBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100%;
    }
}

body {
    text-align: center;
    font-family: 'Kode Mono';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("static/media/background.webp") repeat;
    color: var(--accent);
    animation: scrollBackground 30s linear infinite;
}

ul {
    display: contents;
}

li {
    border: 3px solid var(--accent);
    padding: 1em;
    margin: 1em;
    font-weight: bold
}

code {
    font-family: 'Syne Mono', 'Monospace';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

.container {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    align-content: center;
    box-shadow: inset 0 0 10rem black,inset 0 0 5rem black ;
}

canvas {
    image-rendering: -moz-crisp-edges;    /* Firefox */
    image-rendering: -webkit-crisp-edges; /* Webkit (Safari) */
    image-rendering: pixelated;           /* Chrome */
}

.ui-box {
    border: 3px solid var(--accent);
    width: fit-content;
    height: fit-content;
    justify-content: center;
    flex-flow: column;
    background-color: rgb(255,0,0,0.18);
    margin: 1em;
}

.symbol-btn, .symbol-btn-selected {
    border: 3px solid var(--accent);
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    max-width: 50px;
    margin: 5px;
    font-size: 4em;
    cursor: pointer;
    font-family: monospace;
    line-height: 50px;
}

.symbol-btn-selected {
    background: var(--accent);
    color: #000;
}

.enochian-letter {
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    max-width: 50px;
    margin: 5px;
}

a {
    text-decoration: none;
    color: var(--accent);
}
pre {
    font-family: monospace !important;
    font-size: 1.2em !important;
}

.tanakh-filter {
    font-family: monospace;
    background: transparent;
    color: var(--accent);
    font-size: 2em;
    font-weight: 900;
    border: 3px solid var(--accent);
    padding: .2em;
    margin: .4em;
    width: fit-content;
    text-align: center;
}

select.tanakh-filter:focus, input.tanakh-filter:focus {
    background-color: var(--accent);
    color: black;
}

.gematria-word {
    margin-right: 1.5em;
    font-size: 1.5em;
    padding-bottom: 1em;
}

.gematria-word:hover, .gematria-word-selected {
    background: var(--accent);
    color: black;
}

input[type=number] {
    width: 3em;
    text-align: center;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none;
}

select.tanakh-filter * {
    background-color: black;
    color: var(--accent)
}

li::marker {
    content: '';
}

*:focus {
    outline: none;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}
@keyframes spin {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}

spin {
    animation: 3s linear spin infinite;
}

@keyframes glow {
    from {
        filter: saturate(100%);
    }
    to {
        filter: saturate(200%);
    }
}

@keyframes fade {
    from {
        filter: saturate(200%);
    }
    to {
        filter: saturate(100%);
    }
}

.sigilbox {
    animation: 0.5s linear fade forwards;
    filter: drop-shadow(0 0 2em black) drop-shadow(0 0 0.5em black);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.sigilbox:hover {
    animation: 0.5s linear glow forwards;
}

@keyframes beat {
    0% {
        filter: saturate(100%) drop-shadow(0 0 0 red);
        width: 80vh;
    }
    14% {
        filter: saturate(150%) drop-shadow(0 0 0.5em red);
        width: 83vh;
    }
    28% {
        filter: saturate(200%) drop-shadow(0 0 1em red);
        width: 85vh;
    }
    42% {
        filter: saturate(150%) drop-shadow(0 0 0.5em red);
        width: 83vh;
    }
    70% {
        filter: saturate(100%) drop-shadow(0 0 0 red);
        width: 80vh;
    }
    100% {
        filter: saturate(100%) drop-shadow(0 0 0 red);
        width: 80vh;
    }
}

@keyframes hoverbeat {
    0% {
        filter: saturate(100%) drop-shadow(0 0 0 red);
        width: 80vh;
    }
    14% {
        filter: saturate(150%) drop-shadow(0 0 1em red);
        width: 83vh;
    }
    28% {
        filter: saturate(200%) drop-shadow(0 0 2em red);
        width: 85vh;
    }
    42% {
        filter: saturate(150%) drop-shadow(0 0 1em red);
        width: 83vh;
    }
    70% {
        filter: saturate(100%) drop-shadow(0 0 0 red);
        width: 80vh;
    }
    100% {
        filter: saturate(100%) drop-shadow(0 0 0 red);
        width: 80vh;
    }
}

#sigil {
    width: 80vh;
    align-self: center;
    will-change: filter;
    transition: filter 1s;
    animation: 1s ease-out beat infinite;
}

@keyframes bigzoom {
    from {
        transform: scale(105%);
    }
    to {
        transform: scale(3000%);
        opacity: 0%;
    }
}

.bigzoom {
  -webkit-animation-name: bigzoom;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
    animation: 1s linear bigzoom forwards !important;
}

@keyframes flydown {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(3000%);
        opacity: 0%;
    }
}

.flydown {
  -webkit-animation-name: flydown;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
    animation: 1s linear flydown forwards !important;
}

#sigil:hover {
    pointer-events: visiblePainted; /* Ensures only painted areas are sensitive to hover */
    transition: transform 1000ms;
    transform: scale(110%);
    animation: 1s ease-out hoverbeat infinite;
}

.services {
    display: flex;
    flex-direction: row;
}

.services-left {
    margin-right: -3px;
    max-width: 30vw;
}

.services-right {
    margin-left: 0px;
    max-width: 30vw;
}

/*
 *For mobile
 */

@media (pointer:none), (pointer:coarse) {
    @keyframes beat {
        0% {
            filter: saturate(100%);
            width: 90vw;
        }
        19% {
            filter: saturate(130%);
            width: 91vw;
        }
        20% {
            filter: saturate(150%);
            width: 92vw;
        }
        21% {
            filter: saturate(130%);
            width: 91;
        }
        100% {
            filter: saturate(100%);
            width: 90vw;
        }
    }
    #sigil {
        width: 90vw;
    }
}
